<nav role="navigation" class="db dt-l w-100 border-box pa3 ph5-l">
   <a class="db dtc-l v-mid mid-gray link grow w-100 w-25-l tc tl-l mb2 mb0-l f4 f3 b tracked helvetica" href="{{site.baseurl}}/" title="alternate home">alternate</a>
  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l sans-serif">
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="{{site.baseurl}}/about/" title="About alternatyves">About</a>
    <a class="link f6 f5-l ba b--solid ph3 pv2 mb2 mt2-ns mt3 dib dim green grow" href="https://github.com/YJPL/alternate" title="Contact">GitHub</a>
  </div>
</nav>