<footer>
  <nav role="navigation">
    <footer class="bg-near-white pv4 ph3 ph5-m ph6-l mid-gray avenir">
  <small class="f6 db tc">&copy; {{ site.time | date: '%Y' }} <a href="https://github.com/YJPL">YJPL</a> <em>{{ site.title }}</em> theme design by <a href="https://alternatyves.com">alternatyves</a></small>
  <div class="tc mt3">
    <a href="{{site.baseurl}}/" title="Home" class="f6 dib ph2 link mid-gray dim">Home</a>
    <a href="{{site.baseurl}}/about/" title="About" class="f6 dib ph2 link mid-gray dim">About</a>
    <a href="{{site.baseurl}}/archive/" title="Archyves" class="f6 dib ph2 link mid-gray dim">Blog</a>
  </div>
</footer>
