---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body class="black-80 {% if page.class or layout.class %}{{ page.class | default: layout.class | join: ' ' | prepend: ' ' }}{% endif %}">

  {% if page.header != false %}
  {% include _header.html %}
  {% endif%}

  {{content}}

  {% if page.footer != false %}
{% include footer.html %}
{% endif %}

<script id="__bs_script__">//<![CDATA[
  (function() {
    try {
      var script = document.createElement('script');
      if ('async') {
        script.async = true;
      }
      script.src = 'http://HOST:3000/browser-sync/browser-sync-client.js?v=2.29.3'.replace("HOST", location.hostname);
      if (document.body) {
        document.body.appendChild(script);
      } else if (document.head) {
        document.head.appendChild(script);
      }
    } catch (e) {
      console.error("Browsersync: could not append script tag", e);
    }
  })()
//]]></script>
</body>
</html>
